{% extends 'base.html' %}
{% block content %}

<div class="flex justify-center mb-3 mt-3">
    <h1 class="record-name">About Us</h1>
  </div>

  <hr style="border: 1px solid #524f4a" />

  <div class="mt-3 ml-6 mr-6 mb-3">
    <p>The Phonograph is born from the collaboration between Chris and Elisabetta as their third Project during the General Assembly Software Engineering Immersive course. <br>
        <br>
        For further details: <br>
        Chris: <a href="https://github.com/christopher-k-c">GitHub</a> | <a href="https://www.linkedin.com/in/chriskcarey/">LinkedIn</a> <br>
        Elisabetta: <a href="https://github.com/emaspero">GitHub</a> | <a href="https://www.linkedin.com/in/elisabetta-maspero-990bb3111/">LinkedIn</a>
    </p>
  </div>
  <hr style="border: 1px solid #524f4a" />

{% endblock %}
